{% if journal %}
    <h1>Журнал сообщений с информацией о причинах отказов от регулирования</h1>
    <hr>
    {% for j in journal %}
        <p>
            Отказано <b>{{ j['time_created'] }}</b>; причина написана <b>{{j['time_updated']}}</b>;
            № дробилки <b>{{j['crusher_id']}}</b>
        </p>
        <p>
            <b>Комментарий:</b>
            <br>
            <i>{{j['comment']}}</i>
        </p>
    {% endfor %}
{% else %}
    <p>
        Судя по всему нет незаполненных сообщений о причинах отказа
        в регулировании зазора, но вы можете посмотреть <a href="/journal">журнал</a>.
    </p>
    <!-- <button style="display: block;">
        
    </button> -->
{% endif %}