<header>
  <div class="logo">
    <a href="/">
      <img src="{{ url_for('static', filename='Sign_green.png') }}" width="90" height="70px" />
    </a>
  </div>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__list-link" href="/products">Продукция</a>
      </li>
      <li class="menu__item">
        <a class="menu__list-link" href="/services">Услуги</a>
      </li>
      <li class="menu__item">
        <a class="menu__list-link" href="/blog">Блог </a>
      </li>
      <li class="menu__item">
        <a class="menu__list-link notification have-notification" href="/notification-journal">Уведомления</a>
      </li>
    </ul>
  </nav>
  <div class="tel">
    <a href="tel:88004000500">8 800 4000 500</a>
  </div>
</header>
