{% extends "reject/index.html" %}
{% block content %}
    <h1>Форма заполнения причины отказа</h1>
    <hr>
    {% if forms is not none %}
    <div >
        <form   style="padding-left: 150px;"
                action="{{ url_for('main.reject_form_post') }}"
                class="reject-form" 
                method="post">
            {{ forms.csrf_token }}
            {% for form in forms.comments %}
                <div>{{ form.comment.label }} <br>
                    {{ form.comment(class="comment", placeholder="Ваша причина, сэр:",
                                    cols="65")}}
                </div>
                {% if form.comment.errors %}
                    <ul class="errors">
                        {% for error in form.comment.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        <div>{{ forms.submit() }}</div>
        </form>
    {% else %}
        <p>Тут будет журнал предыдущих записей (нет надобности что-то заполнять)</p>
    {% endif %}
{% endblock content %}